
#searchDiv{
    margin: 2vw auto;
    justify-content: center;
    align-items: center;
}
#form1{
    padding-left: 2rem;
    font-size: 16px;
    width: 400px;
    height: 35px;
    border-radius: 10rem 0 0 10rem;
}

.recipe-card {
    margin: 10% auto;
    font-size: 14px;
    grid-column: 2/4;
}
.recipe-card h2{
    text-align: center;
}
.recipe-card img{
    display: block;
    margin: 0 auto;
    width: 400px;
    /* margin-left: 15%; */
}
.recipe-card p{
    text-indent: 20px;
    margin:3% 5%;
}
.recipe-card ul{
    margin-left: 5%;
}
.recipe-card footer{
    text-align: right;
    margin-right: 5%;
}

.recipeLinks:hover {
    cursor: default;
}
.recipeHover:hover {
    cursor: pointer;
}


/* BoardUser CSS */

.createRecipeLabels{
    display: inline;
    width: 150px;
    font-size: 14px;
    font-weight: bold;
    color: blue;
}

.createRecipeInputs{
    margin:2%;
    width: 350px;
    font-size: 12px;
    padding: 0.25%;
}

.createRecipeInputs:disabled{
    margin:2%;
    width: 350px;
    background-color: white;
}

.createRecipeButton{
    margin: 3% auto;
    font-weight: bold;
}
.updateRecipeButton{
    display: inline;
    font-weight: bold;   
}
.removeRecipeButton{
    display: inline;
    margin-left: 2%;  
    color: red;
    font-weight: bold;
}
#createRecipeDiv{
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.ingredientSpan {
    font-size: 12px;
    margin-top: 4%;
    margin-right: 6%;
    margin-left: 2%;
    border: 2px black solid;
    padding: 0.5% 2%;
    text-align: center;
}
.ingredientSpan:hover {
    cursor: pointer;
}

.ingredientsDiv{
    /* display: "inline-block";*/

    padding:10% 2%;
    width: 360px;
    display: grid;
    /* grid-template-rows: 10rem minmax(100rem, auto); */
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 2;
}

.myRecipesDiv{
    margin: 5%;
}
.myRecipesHeader{
    font-size: 29px;
    text-decoration: underline;
}
.myRecipesList {
    font-size: 16px;
}
.myRecipesList:hover {
    cursor: pointer;
    font-size: 200%;
    text-decoration: underline;
}

.requires{
    color: red;
    display: none;
    margin-top: 25%;
}
#createRecipeTextArea{
    /* display: inline;  */
    grid-column: 2;
    width: 350px;
    height: 100px;
    text-indent: 25px;
    margin: 2%;
    font-size: 14px;
}