.recipe-card {
    margin: 10% auto;
    text-align: center;
}

.recipeLinks:hover {
    cursor: default;
}
.recipeHover:hover {
    cursor: pointer;
}


/* BoardUser CSS */

.createRecipeLabels{
    width: 150px;
    font-size: 14px;
    font-weight: bold;
}

.createRecipeInputs{
    margin: 2%;
    width: 300px;
    font-size: 12px;
}

.createRecipeInputs:disabled{
    margin: 2%;
    width: 300px;
    background-color: white;
}

.createRecipeButton{
    margin: 0 auto;
    padding: 1% 2%;
    border-radius: 0.5rem;
    font-size: 12px;
}
#createRecipeDiv{
    margin-left: 2%;
}

.ingredientSpan {
    font-size: 12px;
    margin-top: 4%;
    margin-right: 6%;
    border: 2px black solid;
    padding: 0.5% 2%;
    text-align: center;
}
.ingredientSpan:hover {
    cursor: pointer;
}

.ingredientsDiv{
    /* display: "inline-block";
    margin-left: "2%" */
    width: 450px;
    display: grid;
    /* grid-template-rows: 10rem minmax(100rem, auto); */
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.myRecipesDiv{
    margin: 5%;
}

.myRecipesList {
    font-size: 14px;
}

.requires{
    color: red;
    display: none;
}