#allUsersTable {
    margin: 5%;
    margin-bottom: 15%;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    font-size: 16px;
}

#allUsersTable td, #allUsersTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#allUsersTable tr:nth-child(even){background-color: #f2f2f2;}

#allUsersTable tr:hover {background-color: #ddd;}

#allUsersTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  /* background-color: orange; */
  
  color: white;
  font-size: 20px;
  font-weight: bold;
}
#allUsersTable thead{
  background-image: linear-gradient(to right bottom, #FBDB89, #F48982);
}

.viewUserButton{
  color: black;
  font-size: 25px;
}
.viewUserButton:hover{
  color: orange;
  cursor: pointer;
}

.deleteUserButton{
  font-size: 25px;
}
.deleteUserButton:hover{
  color: orange;
  cursor: pointer;
}

.avatarImages{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}