.userDetailIcons{
    margin: 10%;
    font-size: 35px;
    color:orange;
}

.userListSpans{
    position: relative;
    font-size: 14px;
    color: orange;
    font-weight: bold;
    bottom: 8px;
}

.mb-3{
    width: 70%;
    margin-bottom: 5%;
}
.userDetailLabels{
    text-align: left;
    margin: 15% 0 3% 0;
    font-size: 18px;
}

.userDetailInputs{
    font-size: 12px;
}

#makeAdminBtn{
    background-image: none;
    background-color: rgb(48, 238, 23);
    color: black;
    border: 1px solid black;
    font-size:10px; 
    padding:2% 4%;
    display:inline-block;
    font-weight: bold;
}

#makeUserBtn{
    background-image: none;
    background-color: rgb(236, 137, 137);
    color: rgb(0, 0, 0);
    border: 1px solid black; 
    font-size:10px; 
    padding:2% 4%;
    display:inline-block;
    font-weight: bold;
}

.avatarImage{
    display:inline-block;
    width:150px; 
    height:150px;
    object-fit: cover; 
}


#adRequestsDiv{
    margin: 5% 5% 10% 0;
    min-height: 600px;
    padding: 5%;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    border-right: 2px solid black;
}

.adRequestsItems{
    width: 220px;
    height: 200px;
    margin: 1.5rem;
    border: 2px solid black;
    padding: 1rem;
    display: grid;
    align-content: space-between;
    cursor: pointer;
}

.notResponded{
    background-image: linear-gradient(to bottom right, red, rgb(235, 175, 175));
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    color: white;
}

.responded{
    background-image: linear-gradient(to bottom right, rgb(0, 255, 21), rgb(229, 235, 175));
    color: black;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
}


#showInfoDiv{
    margin-top: 45%;
    margin-bottom: 25%;
    /* border-left: 1px black solid; */
    padding-right: 2rem;
    height: 600px;
}

.adButtonsDiv{
    text-align: center;
}

#makeResponded{
    /* background-image: linear-gradient(to bottom right, rgb(0, 255, 21), rgb(229, 235, 175)); */
    /* color: black; */
    padding: 0.5rem 2rem;
    font-size: 12px;
    display: inline-block;
}
#makeNotResponded{
    /* background-image: linear-gradient(to bottom right, rgb(0, 255, 21), rgb(229, 235, 175)); */
    color: red;
    font-weight: bold;
    padding: 0.5rem 1rem;
    font-size: 12px;
    display: inline-block;
}

#sendEmail{
    padding: 0.5rem 1rem;
    font-size: 12px;
    display: inline-block;
}   
#deleteAdRequest{
    margin: 5% 0 10% 0;
    padding: 0.5rem 1rem;
    font-size: 12px;
    display: inline-block;
}